@{
    ViewBag.Title = "About";
}

<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<h1 style="text-align:center;">About Us</h1>
<hr /><br />

<div class="container">
    <div class="col-lg-4 col-sm-12">
        <img class="img-circle" src="../Img/man.png" alt="" width="200px" height="200px" style="border: 4px solid black">
    </div>
    <div class="col-md-8 col-sm-8">
        <h2>Haris Hodžić</h2>
        <h4>Omiš, 22 godine</h4>
        
        <p>Haris Hodžić je rođen u Omišu xx.xx.1993. godine, gdje završava osnovnu i srednju školu. Nakon završene Omiške gimnazije
        započinje sa studiranjem Računarstva na splitskom Fakultetu elektrotehnike, strojarstva i brodogradnje. Trenutno je student
        1 godine diplomskog studija.
        </p>

    </div>
</div>
<br />
<div class="container">
    <div class="col-lg-4 col-sm-12">
        <img class="img-circle" src="../Img/man.png" alt="" width="200px" height="200px" style="border: 4px solid black">
    </div>
    <div class="col-md-8 col-sm-8">
        <h2>Ivan Bučević</h2>
        <h4>Split, 22 godine</h4>

        <p>Ivan Bučević je rođen u Splitu xx.xx.1993. godine, gdje završava osnovnu i srednju školu. Nakon završene srednje Elektrotehničke
        škole započinje sa studiranjem Računarstva na splitskom Fakultetu elektrotehnike, strojarstva i brodogradnje. Trenutno je student
        1 godine diplomskog studija.
        </p>

    </div>
</div>

<p class="text-right"><a class="btn btn-default btn-lg" href="#" role="button">Dodaj</a></p>






