body {
}


.naslovna
{
    margin-left: -105px;
    background-image:  url(../Img/Black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: center;
    height: 400px;
    min-width: 1349px;
}

.slika{
    background-image:  url(../Img/Black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 400px;
}

.uvodniTekst{
    text-align: center;
    margin-top: 110px;
}

.login{
    margin-top: 140px;
    margin-bottom: 10px;
    width: 300px;
    border: 2px solid white;
}

.register{
    width: 300px;
    border: 2px solid white;
}